<div class="accordion__container">

    <div class="accordion__tab">
        <div class="accordion__tab-title" ng-click="openTab('tab one')" >
            <img src="images/part.png"/>  Part Templates</div>
        <div ng-repeat="template in templates.templateDescriptors" class="accordion__tab-content" ng-show="isOpenTab('tab one')" >
            <p class="content-title"><img src="images/part.png"/> {{template.templateName}}</p>
            <p class="content">File Name: <i>{{template.fileName}}</i><br>
            Units: {{template.units}}<br>Size: {{getReadableFileSizeString(template.fileSize)}}</p>
        </div>
    </div>
    <div class="accordion__tab">
        <div class="accordion__tab-title" ng-click="openTab('tab two')">
            <img src="images/drawing.png"/>  Drawing Templates</div>
        <div class="accordion__tab-content" ng-show="isOpenTab('tab two')">
            <p>template template da da da</p>
        </div>
    </div>
    <div class="accordion__tab">
        <div class="accordion__tab-title" ng-click="openTab('tab three')">
            <img src="images/assembly.PNG"/>  Assembly Templates</div>
        <div class="accordion__tab-content"ng-show="isOpenTab('tab three')">
            <p>template template da da da</p>
        </div>
    </div>
</div>

